import React, { FC } from 'react';

interface IExternalProps {}

interface IProps extends IExternalProps {}

const {{pascalCase name}}:FC<IProps> = () => {
  return (
    <div>
      <p>Component</p>
    </div>
  );
}

export default {{pascalCase name}};