.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 0;
}
