.Contacts-map {
  width: 100%;
  padding-left: 30px;
  min-width: 800px;
  height: 600px;
}

.Contacts-item--content {
  margin: 10px 0;
  display: block;
}

.section-leftSideBar-map {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: flex-start;
}

.Contacts-h1 {
  font-size: 21px;
  padding-top: 30px;
}

.Contacts-map-container {
  display: flex;
  justify-content: center;
  word-break: break-word;
}

.Contacts-block {
  display: flex;
  margin-top: 30px;
}

.Contacts-item {
  display: block;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 20px;
  color: #191919;
  font-size: 14px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.Contacts-item-block {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
}

.Contacts-item-div {
  justify-content: flex-end;
  display: flex;
}

.Contacts-h2 {
  font-size: 20px;
}

.Contacts-a {
  color: red;

  &:hover {
    text-decoration: none;
    color: rgb(214, 25, 25);
  }
}

.Contacts-dropdown--settings {
  display: none !important;
  font-weight: bold;
}

@media screen and (max-width: 1110px) {
  .Contacts-map {
    min-width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 1010px) {
  .LeftSideBar {
    min-width: 200px;
    max-width: 200px;
  }
}

@media screen and (max-width: 920px) {
  .LeftSideBar {
    display: none;
  }

  .Contacts-map {
    padding-left: 0;
  }

  .Contacts-item-block {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .ant-tabs-nav {
    display: none !important;
  }

  .Contacts-dropdown--settings {
    display: flex !important;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 470px) {
  .Contacts-item-div {
    width: 90%;
    margin: 0 auto;
  }
}
