.Auth-title {
  font-weight: bold;
  font-size: 21px;
}

.Auth-paragraph {
  font-size: 12px;
  font-weight: bold;
}

.Auth-line-of-input {
  max-width: 400px;
}

.Auth-sign-up-button {
  height: 43px;
  font-size: 15px;
  font-weight: bold;
  background: rgb(68, 68, 68);
  min-width: 200px;
  margin-top: 20px;

  &:hover,
  &:active,
  &:focus {
    background: rgb(20, 20, 20);
  }
}

.Auth-text-button {
  color: white;
  padding-top: 5px;
}

.Auth-border {
  border-radius: 1px;
  border: 1px solid #f6cb00;
  background-color: rgba(250, 223, 18, 0.08);
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  max-width: 700px;
}

.Auth-sign-up-butto-two {
  height: 43px;
  font-size: 15px;
  font-weight: bold;
  background: rgb(68, 68, 68);
  min-width: 100px;
  margin-top: 15px;
  margin-bottom: 20px;

  &:hover,
  &:active,
  &:focus {
    background: rgb(20, 20, 20);
  }
}

.Auth-text-button {
  color: white;
  padding-top: 5px;
}
