.BlockWithIcons-SparePartsstyle {
  width: 110px;
  height: 90px;
}

.BlockWithIcons-CarServicestyle {
  width: 110px;
  height: 90px;
}

.BlockWithIcons-CarsForSalestyle {
  width: 100px;
  height: 90px;
}

.BlockWithIcons-ForWholesalersstyle {
  width: 80px;
  height: 90px;
}

.BlockWithIcons-block {
  display: flex;
  justify-content: space-between;
  padding-right: 500px;
  padding-left: 50px;
  padding-top: 30px;
}

.BlockWithIcons-item {
  text-align: center;
}

.BlockWithIcons-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}
