@font-face {
  font-family: 'PT Sans';
  src: url(../../assets/fonts/PTS55F.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.page-with-header {
  padding-top: 60px;
}

.align-items-center {
  align-items: center;
}

.d-block {
  display: block;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.td-line {
  text-decoration: underline !important;
}

.d-flex {
  display: flex !important;
}

.container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}
