@font-face {
  font-family: 'PT Sans';
  src: url(../../assets/fonts/PTS55F.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular', 'PT Sans', Arial, Helvetica, sans-serif;
}
#root {
  background-color: #e3e3e3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background: #ffb000;
  border-radius: 5px;
}

.justify-content-center {
  justify-content: center;
}

.page-with-header {
  padding-top: 87px;
  background-color: white;
}

.align-items-center {
  align-items: center;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.align-items-start {
  align-items: flex-start;
}

.pr-5 {
  padding-right: 25px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fs-12 {
  font-size: 12px !important;
}

.td-line {
  text-decoration: underline !important;
}

.d-flex {
  display: flex !important;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.page-container--full {
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 1500px) {
  .page-container--full {
    max-width: 1200px;
  }

  .HeatherPreview-subtitle--hr {
    margin-left: 45px;
  }
}

@media screen and (max-width: 475px) {
  .page-with-header {
    padding-top: 119px;
  }
}

@media screen and (max-width: 380px) {
  .page-with-header {
    padding-top: 105px;
  }
}
