.Vacancies-block {
  display: flex;
  margin-top: 30px;
}

.Vacancies-title {
  font-size: 21px;
  padding-top: 30px;
}

.Vacancies-title-block {
  padding-top: 140px;
}

.Vacancies-container {
  padding-left: 130px;
  padding-right: 130px;
}

.Vacancies-p {
  padding-top: 20px;
}

.Vacancies-breadcrumbs-title {
  margin-bottom: 30px;
}

.Vacancies-leftSidebar-button-title {
  display: flex;
  justify-content: center;
}

.Vacancies-title-h2 {
  font-size: 20px;
  padding-top: 30px;
}

.Vacancies-leftSidebar-button {
  padding-right: 40px;
}

.Vacancies-button {
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.Vacancies-button-block {
  padding-top: 30px;
  width: 48%;
}

p {
  line-height: 25px;
}

.Vacancies-button-block-div {
  display: flex;
  justify-content: space-between;
}

.Vacancies-contact {
  padding-top: 110px;
  padding-bottom: 110px;
}
