.Promotions-border {
  border-radius: 1px;
  max-width: 270px;
  height: 40px;
  background-color: yellow;
}

.Promotions-item {
  color: red;
  font-size: 20px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Bold';
}
