.CarService-block {
  display: flex;
  margin-top: 30px;
}

.CarService-title {
  font-size: 21px;
  padding-top: 30px;
}

.CarService-breadcrumbs-title {
  margin-bottom: 30px;
}

.CarService-border {
  border: 1px solid #ddd;
  padding: 7px;
  background-color: white;
  width: 85%;
  height: 80%;
  margin-right: 30px;
}

.CarService-border-block {
  border: 1px solid #ddd;
  background-color: #f8d514;
  padding: 25px;
  width: 75%;
  padding-bottom: 0;
}

.CarService-border-container {
  display: flex;
}

.CarService-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 30px;
  margin: 0;
  font: 700 17px/21px 'PT Sans', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #e34c19;
  color: #fff;
  border-radius: 0;
}

.CarService-border-p {
  margin-top: 2px;
  font-size: 12px;
  color: #666;
  margin-left: 16px;
  margin-bottom: 0px;
}

.CarService-border-linc {
  text-decoration: none;
  color: #999;

  &:hover {
    text-decoration: none;
    color: #786f6f;
  }
}

.CarService-title-h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;
}

.CarService-map {
  width: 79%;
  height: 500px;
}

.CarService-simple-board {
  height: 45px;
  width: 80%;
}

.CarService-table-item {
  text-align: start;
  padding-left: 50px;
}

.CarService-table-head {
  height: 45px;
  text-align: start;
  padding-left: 50px;
}

.CarService-button-td {
  display: flex;
  align-items: center;
  vertical-align: middle;
  border: 1px solid silver;
  line-height: 18px;
  padding: 8px;
  min-width: 170px;
  font-weight: 700;
  font-size: 16px;
  color: #191919;
  text-align: center;
  background-color: #eee;
  text-decoration: none;

  &:hover {
    background-color: rgb(214, 25, 25) !important;
  }
}

.CarService-biphone {
  color: black;
}

.CarService-number {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.CarService-table-item-block {
  background-color: #fffc;
  height: 45px;
  width: 80%;
}

.CarService-table-head-block {
  background-color: #f1f1f1;
}
