.CarService-block {
  display: flex;
  margin-top: 30px;
}

.CarService-search--input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  box-sizing: border-box;

  outline: none;

  &:focus {
    border: 1px solid #ffb000;
  }
}

.CarService-search--button {
  height: 40px;
  margin-left: 10px;
  border-radius: 6px;
  padding: 0 20px;
}

.CarService-title {
  font-size: 21px;
  padding-top: 30px;
}

.CarService-breadcrumbs-title {
  margin-bottom: 30px;
}

.CarService-border {
  border: 1px solid #ddd;
  padding: 7px;
  background-color: white;
  width: 100%;
  height: 80%;
  margin-right: 30px;
}

.CarService-border-block {
  display: flex;
}

.CarService-border-container {
  display: flex;
}

.CarService-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 30px;
  margin: 0;
  font: 700 17px/21px 'PT Sans', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #e34c19;
  color: #fff;
  border-radius: 0;
}

.CarService-border-p {
  margin-top: 2px;
  font-size: 12px;
  color: #666;
  margin-left: 16px;
  margin-bottom: 0px;
}

.CarService-border-linc {
  text-decoration: none;
  color: #999;

  &:hover {
    text-decoration: none;
    color: #786f6f;
  }
}

.CarService-title-h2 {
  font-size: 19px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.CarService-map {
  width: 100%;
  height: 500px;
}

.CarService-simple-board {
  height: 45px;
  width: 100%;
}

.CarService-table-item {
  text-align: start;
  padding-left: 50px;
}

.CarService-table-head {
  height: 45px;
  text-align: start;
  padding-left: 50px;
}

.CarService-button-td {
  display: flex;
  align-items: center;
  vertical-align: middle;
  line-height: 18px;
  padding: 8px;
  min-width: 170px;
  font-weight: 700;
  font-size: 16px;
  color: #ffb000 !important;
  text-align: center;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    color: #de2a1b !important;
  }
}

.CarService-number {
  font-size: 16px;
  font-weight: bold;

  a {
    color: #ffb000;
    &:hover {
      color: #de2a1b !important;
    }
  }
}

.CarService-table-item-block {
  background-color: #fffc;
  height: 45px;
  width: 80%;
}

.CarService-table-head-block {
  background-color: #f1f1f1;
}

@media screen and (max-width: 980px) {
  .SliderCarService-icon-block {
    padding: 0 100px !important;
  }
}

@media screen and (max-width: 650px) {
  .SliderCarService-icon-block {
    padding: 0 50px !important;
  }
}

@media screen and (max-width: 570px) {
  .SliderCarService-icon-block {
    padding: 0 !important;
  }
}
