.CorporateNews-block {
  display: flex;
  margin-top: 30px;
}

.CorporateNews-title {
  font-size: 21px;
  padding-top: 20px;
}

.CorporateNews-container {
  padding-left: 130px;
  padding-right: 130px;
}

.CorporateNews-p {
  padding-top: 20px;
}

.CorporateNews-breadcrumbs-title {
  margin-bottom: 30px;
}

.CorporateNews-leftSidebar-button-title {
  display: flex;
  justify-content: center;
}

.CorporateNews-leftSidebar-button {
  padding-right: 40px;
}

.CorporateNews-data {
  padding-bottom: 10px;
}

.CorporateNews-link {
  font-size: 19px;
  color: red;
  font-weight: 300;

  &:hover {
    text-decoration: none;
    color: rgb(214, 25, 25);
  }
}

p {
  line-height: 25px;
}

.CorporateNews-border {
  border: 1px solid #ddd;
  padding: 20px;
}

.CorporateNews-link-block {
  padding-bottom: 20px;
}

.CorporateNews-Stiker {
  height: 120px;
  width: 200px;
}

.CorporateNews-title-block {
  display: flex;
  padding-top: 130px;
  padding-bottom: 60px;
}

.CorporateNews-Stiker-block {
  padding-right: 130px;
}

.CorporateNews-link-block-div {
  padding-top: 20px;
  padding-bottom: 20px;
}
