.container {
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  align-items: center;
}

.logo {
  height: 50px;
  width: 210px;
  padding-left: 180px;
}

.header {
  display: flex;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.item {
  padding-left: 30px;

  a {
    font-size: 18px;
    font-weight: bold;
    color: #191919;
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }
  }
}
