.Header-container {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  align-items: center;
}

.logo {
  height: 45px;
  width: 180px;
}

.sign-in--button {
  padding-right: 0;

  .sign-in--label {
    color: #191919;
    font-weight: bold;
    margin-right: 7px;
    transition: 0.3s;
  }

  svg {
    transition: 0.3s;
  }

  &:hover {
    .sign-in--label {
      color: orangered;
    }

    svg {
      color: orangered !important;
    }
  }
}

.header {
  display: flex;
  padding: 5px 60px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.Header-nav--item {
  padding-left: 30px;

  a {
    font-size: 16px;
    font-weight: 900;
    color: #191919;
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }
  }
}
