.Footer-border {
  background-color: white;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.Footer-link {
  color: #8d1010;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: rgb(206, 60, 7);
  }
}

.Footer-copyright--block {
  max-width: 10%;
}

.Footer-header {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.Footer-copyright--link {
  color: black;
  font-size: 13px;
}

.Footer-copyright--info {
  color: black;
  font-size: 13px;
  line-height: 18px;
}

.Footer-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.Footer-block {
  padding-left: 30px;
}

.Footer-list {
  color: #8d1010;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 20px;

  li {
    margin-bottom: 10px;
  }
}

.Footer-item-p {
  font-size: 18px;
  margin-left: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: rgb(206, 60, 7);
  }
}

.Footer-item-p {
  a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.Footer-item-Phone {
  font-size: 18px;
  margin-left: 5px;
  color: black;
}

.mx-1 {
  margin: 0px, 10px;
  padding-top: 3px;
}

.Footer-icon-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 7px;
}

.Footer-item-pp {
  margin-left: 5px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: rgb(206, 60, 7);
  }
}

.Footer-biPhone {
  justify-content: flex-end;
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
}

.Footer-biUser-biPhone {
  margin-left: 30px;
  margin-top: -10px;
  text-align: right;
}

.Footer-icon-block {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.Footer-icon {
  margin-right: 15px;
}

.Footer-links--container {
  display: flex;
}

@media screen and (max-width: 1130px) {
  .Footer-biUser-biPhone {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .Footer-container {
    flex-direction: column-reverse;
  }

  .Footer-copyright--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .Footer-copyright--item {
      margin-bottom: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 820px) {
  .Footer-copyright--block {
    flex-direction: column;

    .Footer-copyright--item {
      margin-top: 10px;
    }
  }

  .Footer-links--container {
    flex-wrap: wrap;

    .Footer-block {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 335px) {
  .Footer-links--container {
    display: none;
  }
}
