.NewCard {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  }

  .NewCard-title {
    color: #ffb000;

    &:hover {
      color: rgba(255, 63, 0, 1);
    }
  }
}

@media screen and (max-width: 1100px) {
  .NewCard {
    flex-direction: column-reverse;

    .ant-list-item-extra {
      margin-bottom: 10px;
      margin-left: 0;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .NewCard {
    min-width: 400px;
  }
}

@media screen and (max-width: 710px) {
  .NewCard {
    min-width: 330px;
  }
}

@media screen and (max-width: 485px) {
  .NewCard {
    min-width: 100%;
  }
}
